# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Enable php-fellow': 'php-fellow:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'php-fellow'
      'submenu': [
        { 'label': 'Toggle', 'command': 'php-fellow:toggle' }
      ]
    ]
  }
]
