# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.editor':
  'f4':       'php-fellow:inject-namespace-stmt'
  'f5':       'php-fellow:inject-use-stmt'
  'f6':       'php-fellow:expand-fqcn'
